---
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <PageHead slot="head" title="About" />

  <section class="py-8">
    <p>Eli is an AI/design engineer based in the US.</p>
    <p>He is available for freelance projects.</p>
    <p>eli@elih.net</p>
  </section>
</Layout>
