---
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <PageHead slot="head" title="About" />

  <section class="py-8">
    <p>Eli is an AI/design engineer working on open-source tools and models for AI type(font) design. He is based in the USA and avaiable for select freelance projects. elih at protonmail dot com</p>
  </section>
</Layout>
