---
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <PageHead slot="head" title="About" />

  <section class="py-8">
    <p>Eli is an AI/ML/Design Engineer based in the US.</p>
    <p>He is available for hire and freelance projects.</p>
    <p>He also runs a small vector-graphics AI neolab, open to investment and support from interested VCs.</p>
    <p>eli@elih.net</p>
  </section>
</Layout>
