---
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <PageHead slot="head" title="About" />

  <section class="py-8">
    <p>Eli is an AI/design engineer based in the US. He is available for select freelance projects.</p>
  </section>
</Layout>
