---
import PageHead from '@/components/PageHead.astro'
import PostList from '@/components/PostList.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllPosts } from '@/lib/data-utils'

const allPosts = await getAllPosts()
---

<Layout>
  <PageHead slot="head" title="Eli Heuer" />

  <section class="py-5">
    <PostList posts={allPosts} />
  </section>
</Layout>
